# --
# Kernel/Output/HTML/Templates/Standard/Exaprobe/APA_AgentContractManagement.tt - overview
# Copyright (C) (2016) (Aurelien PAGES) (apages2@free.fr)
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --


<style>

.SearchSelect {   
    display: inline-block; !important;		
}


.progress {
margin-bottom: 1px !important;
    margin-left: 2px !important;
    margin-right: 2px !important;
    height: 20px !important;
}

.progress-bar[aria-valuenow="0"] {
  color: black;
  min-width: 20%;
  background: transparent;
  box-shadow: none;
}
h1 {
font-size: 16px;
}
.thmep {
background-color: #285566 !important;
color: #ccc !important;
vertical-align: middle !important;
} 

.thmepfirst {
background-color: #fdfdfd !important;
border: 0px !important;
}  

.tdmep {
background-color: #f2f2f2 !important;
}  

</style>
<form  action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" name="update" class="Validate PreventMultipleSubmits" id="update">

<div class="OverviewBox ARIARoleMain">
		<h1>[% Translate("Overview") | html %]: [% Translate("MEP Management") %]</h1>
[% RenderBlockStart("ActionList") %]
        <div class="WidgetSimple">
            <div class="Header">
                <h2>[% Translate("Actions") | html %]</h2>
            </div>
            <div class="Content">
                <ul class="ActionList">
[% RenderBlockStart("ActionSearch") %]
					[% Search = Data.Search  %]
					[% SearchResponsible = Data.SearchResponsible  %]
					[% SearchList = Data.SearchList  %]
					[% StartWindow=Data.StartWindow %]
					[% StartHit=Data.StartHit %]
					[% IsTreated = Data.IsTreated %]
					[% SageTable = Data.SageTable %]
                    <li>						
                          
							<input type="hidden" name="Action" value="[% Env("Action") %]"/>
                            <input type="hidden" name="Subaction" value=""/>
                            <input type="hidden" name="Nav" value="[% Data.Nav | html %]"/>
                        [% IF Data.IsTreated=='on' %]
							<input type="checkbox" name="IsTreated" class="FieldExplanation" id="IsTreated" checked>[% Translate(" Search in finished MEP") | html %]
						[% ELSE %]
							<input type="checkbox" name="IsTreated" class="FieldExplanation"  id="IsTreated">[% Translate(" Search in finished MEP") | html %]
						[% END %]
						<br><p class="SearchSelect ">    
							<select name="SearchList" id="SearchList" style="width: 200px ">
								[% IF Data.SageTable=='Doc' %]
									[% IF Data.SearchList == 0 %]
										<option value="0" selected> [% Translate("OTRS Customers") | html %] </option>
									[% ELSE %]
										<option value="0"> [% Translate("OTRS Customers") | html %] </option>
									[% END %]
									[% IF Data.SearchList == 1 %]
										<option value="1" selected> [% Translate("Business Code") | html %] </option>
									[% ELSE %]
										<option value="1"> [% Translate("Business Code") | html %] </option>
									[% END %]
									[% IF Data.SearchList == 2 %]
										<option value="2" selected> [% Translate("Starting Date =") | html %] </option>
									[% ELSE %]
										<option value="2"> [% Translate("Starting Date =") | html %] </option>
									[% END %]
									[% IF Data.SearchList == 3 %]
										<option value="3" selected> [% Translate("Starting Date >=") | html %] </option>
									[% ELSE %]
										<option value="3"> [% Translate("Starting Date >=") | html %] </option>
									[% END %]
									[% IF Data.SearchList == 4 %]
										<option value="4" selected> [% Translate("Starting Date <=") | html %] </option>
									[% ELSE %]
										<option value="4"> [% Translate("Starting Date <=") | html %] </option>
									[% END %]
									[% IF Data.SearchList == 5 %]
										<option value="5" selected> [% Translate("Responsible") | html %] </option>
									[% ELSE %]
										<option value="5"> [% Translate("Responsible") | html %] </option>
									[% END %]
								[% ELSIF Data.SageTable=='Abo' %]	
									[% IF Data.SearchList == 0 %]
										<option value="0" selected> [% Translate("OTRS Customers") | html %] </option>
									[% ELSE %]
										<option value="0"> [% Translate("OTRS Customers") | html %] </option>
									[% END %]
									[% IF Data.SearchList == 1 %]
										<option value="1" selected> [% Translate("Entitled") | html %] </option>
									[% ELSE %]
										<option value="1"> [% Translate("Entitled") | html %] </option>
									[% END %]
									[% IF Data.SearchList == 2 %]
										<option value="2" selected> [% Translate("Starting Date =") | html %] </option>
									[% ELSE %]
										<option value="2"> [% Translate("Starting Date =") | html %] </option>
									[% END %]
									[% IF Data.SearchList == 3 %]
										<option value="3" selected> [% Translate("Starting Date >=") | html %] </option>
									[% ELSE %]
										<option value="3"> [% Translate("Starting Date >=") | html %] </option>
									[% END %]
									[% IF Data.SearchList == 4 %]
										<option value="4" selected> [% Translate("Starting Date <=") | html %] </option>
									[% ELSE %]
										<option value="4"> [% Translate("Starting Date <=") | html %] </option>
									[% END %]
									[% IF Data.SearchList == 5 %]
										<option value="5" selected> [% Translate("Responsible") | html %] </option>
									[% ELSE %]
										<option value="5"> [% Translate("Responsible") | html %] </option>
									[% END %]
								[% END %]
							</select>
						</p>
						<p class="SearchSelect" id="SearchSelect">  
							[% IF Data.SearchList == 5 %]
								<select id="Search" name="Search" type="text" value="0">
								[% RenderBlockStart("Responsible") %]
								[% IF Data.RespID == Search %]
									<option value="[% Data.RespID %]" selected>[% Data.RespFullName %]</option>
								[% ELSE %]
									<option value="[% Data.RespID %]">[% Data.RespFullName %]</option>
								[% END %]
								[% RenderBlockEnd("Responsible") %]
								</select>
							[% ELSE %]
								<input type="text" name="Search" value="[% Data.Search | html %]" id="Search" title="[% Translate("Search") | html %]"/>
							[% END %]
						</p>
						<br><button type="submit" value="[% Translate("Search") | html %]" title="[% Translate("Search") | html %]"><i class="fa fa-search"></i></button>
						<p class="FieldExplanation">    
                            [% Translate("Wildcards like '*' are allowed. Date Format is YYYY-MM-DD") | html %]
						</p>
							
                    </li>
 
				</ul>
            </div>
        </div>

<div class="bootstrap-apa">
<div id="OverviewBody" class="Overview TicketList">
				<span class="Pagination">
				
[% RenderBlockStart("OverviewNavBarPageNavBar") %]
                    [% Data.ResultLong %]
                    [% Data.SiteNavBarLong %]
[% RenderBlockEnd("OverviewNavBarPageNavBar") %]

				</span>				
					<table class="TableSmall tablemep">
						<thead>
							<tr align="center">
								[% IF SageTable=='Abo' %]
									<th class="W10pc" rowspan="2" style="text-align:center">[% Translate("SAGE Customers") | html %]</th>
									<th class="W15pc" rowspan="2" style="text-align:center">[% Translate("OTRS Customers") | html %]</th>
									<th rowspan="2" style="text-align:center">[% Translate("Entitled") | html %]</th>
									<th class="W10pc" rowspan="2" style="text-align:center">[% Translate("Duration") | html %]</th> 
									<th class="W10pc" rowspan="2" style="text-align:center">[% Translate("Start Date") | html %]</th>
									<th class="W10pc" rowspan="2" style="text-align:center">[% Translate("End Date") | html %]</th>
									<th class="W10pc" rowspan="2" style="text-align:center">[% Translate("MEP") | html %]</th>
								[% ELSIF SageTable=='Doc' %]
									<th class="W15pc" rowspan="2" style="text-align:center">[% Translate("SAGE Customers") | html %]</th>
									<th class="W15pc" rowspan="2" style="text-align:center">[% Translate("OTRS Customers") | html %]</th>
									<th rowspan="2" style="text-align:center">[% Translate("Business Code") | html %]</th>
									<th rowspan="2" style="text-align:center">[% Translate("Selling Price") | html %] HT</th>
									<th class="W15pc" rowspan="2" style="text-align:center">[% Translate("Start Date") | html %]</th>
									<th class="W15pc" rowspan="2" style="text-align:center">[% Translate("End Date") | html %]</th>
									<th class="W20pc" rowspan="2" style="text-align:center">[% Translate("MEP") | html %]</th>
								[% END %]
							</tr>
						</thead>
						<tbody>
[% RenderBlockStart("OtrsRow") %]					
							[% EnrIDSage =Data.EnrIDSage %]
							<tr>
								<div class="Header">
									<td style="text-align:center">
									[% IF Data.Search!="*" %]
										[% IF Data.etat == Data.EnrIDSage && Data.EnrIDSage != NULL%]
											<a href="[% Env("Baselink") %]Action=APA_AgentContractManagement;IsTreated=[% IsTreated %];Search=[% Search %];SearchList=[% SearchList %];StartWindow=[% StartWindow %];StartHit=[% StartHit %]" title="[% Translate("Show or hide the content") | html %]"><i class="fa fa-caret-down"></i>[% Data.CustIDSage | html %]</a>
										[% ELSIF Data.EnrIDSage != NULL %]
											<a href="[% Env("Baselink") %]Action=APA_AgentContractManagement;Subaction=MEP;IsTreated=[% IsTreated %];Search=[% Search %];SearchList=[% SearchList %];EnrID=[% Data.EnrIDSage | uri %];StartWindow=[% StartWindow %];StartHit=[% StartHit %]" title="[% Translate("Show or hide the content") | html %]"><i class="fa fa-caret-right"></i>[% Data.CustIDSage | html %]</a>
										[% END %]	
									[% ELSE %]
										[% IF Data.etat == Data.EnrIDSage && Data.EnrIDSage != NULL%]
											<a href="[% Env("Baselink") %]Action=APA_AgentContractManagement;IsTreated=[% IsTreated %]" title="[% Translate("Show or hide the content") | html %]"><i class="fa fa-caret-down"></i>[% Data.CustIDSage | html %]</a>
										[% ELSIF Data.EnrIDSage != NULL %]
											<a href="[% Env("Baselink") %]Action=APA_AgentContractManagement;Subaction=MEP;IsTreated=[% IsTreated %];EnrID=[% Data.EnrIDSage | uri %]" title="[% Translate("Show or hide the content") | html %]"><i class="fa fa-caret-right"></i>[% Data.CustIDSage | html %]</a>
										[% END %]	
									[% END %]
										
									</td>
								</div>
								<td style="text-align:center"> [% Data.CustIDOtrs | html %]</td>
								
								[% IF SageTable=='Abo' %]
									<td style="text-align:center"><a class="MasterActionLink" href="[% Env("Baselink") %]Action=APA_AboZoom;EnrID=[% Data.EnrIDSage | uri %]">[% Data.AboIntitule | html %]</a></td>
									[% IF Data.AboDuree > 1 %]
										<td style="text-align:center"> [% Data.AboDuree | html %] [% IF Data.AboTypeDuree == 3 %]Années[% ELSIF Data.AboTypeDuree == 2 %]Mois[% ELSIF Data.AboTypeDuree == 1 %]Semaines[% ELSIF Data.AboTypeDuree == 0 %]Jours[% END %]</td> 	
									[% ELSE %]
										<td style="text-align:center"> [% Data.AboDuree | html %] [% IF Data.AboTypeDuree == 3 %]Année[% ELSIF Data.AboTypeDuree == 2 %]Mois[% ELSIF Data.AboTypeDuree == 1 %]Semaine[% ELSIF Data.AboTypeDuree == 0 %]Jour[% END %]</td> 
									[% END %]
									<td style="text-align:center"> [% Data.AboDateDebut | Localize("Date") | html %]</td>
									<td style="text-align:center"> [% Data.AboDateFin | Localize("Date") | html %]</td>
								[% ELSIF SageTable=='Doc' %]
										<td style="text-align:center"><a class="MasterActionLink" href="[% Env("Baselink") %]Action=APA_DocZoom;EnrID=[% Data.EnrIDSage | uri %]">[% Data.Caff | html %]</a></td>
										<td style="text-align:center"> [% Data.Price | html %] €</td>
										[% IF Data.IsAdmin==1 %]
											<td style="text-align:center"><input class="updatedate" title="[% Translate("Date Format is : ") | html %][% "2017-12-31 00:00:00" | Localize("Date") | html %]" style="text-align:center" type="datetime" id="DateDebut_[% Data.EnrIDSage %]" maxlength="10" size="10" value="[% Data.AboDateDebut | Localize("Date") | html %]">
											<td style="text-align:center"><input class="updatedate"  title="[% Translate("Date Format is : ") | html %][% "2017-12-31 00:00:00" | Localize("Date") | html %]" style="text-align:center" type="datetime" id="DateFin_[% Data.EnrIDSage %]" maxlength="10" size="10" value="[% Data.AboDateFin | Localize("Date") | html %]">
										[% ELSE %]
											<td style="text-align:center"> [% Data.AboDateDebut | Localize("Date") | html %]</td>
											<td style="text-align:center"> [% Data.AboDateFin | Localize("Date") | html %]</td>
										[% END %]
								[% END %]
								<td style="text-align:center"> 
									[% IF Data.AvancementG == 0 %]
										<div class="progress" >
												<div title="[% Data.AvancementG %]%" id="progress_[% Data.EnrIDSage %]" class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" 
												  aria-valuenow="[% Data.AvancementG %]" aria-valuemin="3" aria-valuemax="100" style="width:[% Data.AvancementG %]%">
												[% Data.AvancementG %]%
												</div>
												
										</div>
									[% ELSIF Data.AvancementG == 100 %]
										<div class="progress" >
												<div title="[% Data.AvancementG %]%" id="progress_[% Data.EnrIDSage %]" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" 
												  aria-valuenow="[% Data.AvancementG %]" aria-valuemin="3" aria-valuemax="100" style="width:[% Data.AvancementG %]%">
												[% Data.AvancementG %]%
												</div>
										</div>
									[% ELSE %]
										<div class="progress" >
												<div title="[% Data.AvancementG %]%" id="progress_[% Data.EnrIDSage %]" class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" 
												  aria-valuenow="[% Data.AvancementG %]" aria-valuemin="3" aria-valuemax="100" style="width:[% Data.AvancementG %]%">
													[% Data.AvancementG %]%
													</div>
										</div>
									[% END %]
								</td>	
							</tr>

[% RenderBlockStart("MEPTR") %]
										<thead>
											<tr>
												<th class="thmepfirst"></th>
												<th class="thmep" style="text-align:center">[% Translate("MEP Task") | html %]</th>
												<th class="thmep" colspan="2" style="text-align:center">[% Translate("Description") | html %]</th>
												<th class="thmep" style="text-align:center">[% Translate("Responsible") | html %]</th>
												<th class="thmep" style="text-align:center">Action</th>
												<th class="thmep" style="text-align:center">[% Translate("Progress") | html %]</th>
											</tr>
										</thead>
[% RenderBlockEnd("MEPTR") %]
[% RenderBlockStart("MEP") %]
										<tbody>
											<tr class="trmep_[% Data.MEPID | html %]">
												[% ProprioID = Data.ProprietaireID %]
													<td></td>
													<td class="tdmep" style="text-align:center"> [% Data.Mep | html %]</td>
													<td class="tdmep" colspan="2"  style="text-align:center"> [% Data.DescMep | html %]</td>
													[% IF  Data.Proprietaire %]
														<td class="tdmep" style="text-align:center">	[% Data.Proprietaire | html %]</td>
													[% ELSE %]
														<td class="tdmep" style="text-align:center"></td>
													[% END %]
														<td class="tdmep" ></td>
														<td class="tdmep" style="text-align:center">
															<div class="progress" >
															[% IF Data.Avancement==0 %]
																<div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" 
																  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
																	0% Complete
																</div>
															[% ELSIF Data.Avancement==100 %]
																<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
																  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
																	100% Complete
																</div>
															[% END %]
															</div>
														</td>
											</tr>
											
[% RenderBlockEnd("MEP") %]
[% RenderBlockStart("MEPAdmin") %]
										<tbody>
											<tr class="trmep_[% Data.MEPID | html %]">
												[% ProprioID = Data.ProprietaireID %]
													<td> </td>		
													[% IF Data.Mep %]
														<td class="tdmep" style="text-align:center"> [% Data.Mep | html %]</td>
													[% ELSE %]
														<td class="tdmep" style="text-align:center">
															<select class="updateselect" name="MEPList" form="update" id="MEPList_[% Data.MEPID | html %]">
																<option value="0"> - </option>
																[% RenderBlockStart("MEPSelect") %]															
																<option value="[% Data.Name %]" >[% Data.Name %]</option>
																[% RenderBlockEnd("MEPSelect") %]
															</select>
														</td>
													[% END %]
														<td class="tdmep" colspan="2" style="text-align:center"> [% Data.DescMep | html %]</td>
													<td class="tdmep" style="text-align:center">
													<select class="updateselect" name="ResponsibleID" form="update" id="Responsible_[% Data.MEPID | html %]">
														<option value="0"> - </option>
														[% RenderBlockStart("ResponsibleRW") %]
															[% IF ProprioID && ProprioID!='0' %]
																[% IF Data.RespID == ProprioID %]
																	<option value="[% Data.RespID %]" selected>[% Data.RespFullName %]</option>
																[% ELSE %]
																	<option value="[% Data.RespID %]">[% Data.RespFullName %]</option>
																[% END %]	
															[% ELSE %]
																	<option value="[% Data.RespID %]">[% Data.RespFullName %]</option>
															[% END %]
														[% RenderBlockEnd("ResponsibleRW") %]
														</select>
														</td>
														[% IF Data.Notif %]
															<td class="tdmep" style="text-align:center"><input title="[% Translate("Notified on") | html %] : [% Data.Notif | Localize("Date") | html %]&#10;[% Translate("Notified") | html %] [% Data.NbNotif %] [% Translate("time(s)") | html %]" type="button" class="buttonnotif"  value="Notif" name="BNotif_[% Data.MEPID | html %]" id="BNotif_[% Data.MEPID | html %]"> <input type="button" class="buttondel" value="[% Translate("Del") | html %]" name="BDel_[% Data.MEPID | html %]" id="BDel_[% Data.MEPID | html %]"> </td>
														[% Notif = Data.Notif %]
														[% ELSE %]
															<td class="tdmep" style="text-align:center"><input title="[% Translate("Never notified") | html %]" type="button" class="buttonnotif"  value="Notif" name="BNotif_[% Data.MEPID | html %]" id="BNotif_[% Data.MEPID | html %]"> <input type="button" class="buttondel" value="[% Translate("Del") | html %]" name="BDel_[% Data.MEPID | html %]" id="BDel_[% Data.MEPID | html %]"> </td>
														[% Notif = "Never notified" %]
														[% END %]
														<td class="tdmep" style="text-align:center">
																[% IF Data.Avancement==0 %]
																		<input type="checkbox"  checked data-on-text="0%" data-off-text="100%" data-size="mini" data-on-color="danger" data-off-color="success" class="Avanc" id="Avanc_[% Data.MEPID | html %]">
																	
																[% ELSIF Data.Avancement==100 %]
																	<input type="checkbox"  data-on-text="0%" data-off-text="100%" data-size="mini" data-on-color="danger" data-off-color="success" class="Avanc" id="Avanc_[% Data.MEPID | html %]">
																[% END %]
														</td>
											</tr>
											
[% RenderBlockEnd("MEPAdmin") %]

[% RenderBlockStart("MEPLast") %]
											<tr class="lastmep">
												<td></td>
												<td class="tdmep" style="text-align:center"> </td>
												<td class="tdmep" colspan="2" style="text-align:center"> </td>
												<td class="tdmep" style="text-align:center"> </td>
												<td class="tdmep" style="text-align:center"> </td>
											<td class="tdmep" style="text-align:center"> </td>
											</tr>
											
										</tbody>
[% RenderBlockEnd("MEPLast") %]
[% RenderBlockStart("MEPLastAdmin") %]
											<tr class="lastmep">
												<td></td>
												<td class="tdmep" style="text-align:center"> </td>
												<td class="tdmep" colspan="2" style="text-align:center"> </td>
												<td class="tdmep" style="text-align:center"> </td>
												<td class="tdmep" style="text-align:center"><input type="button" class="buttonadd" value="[% Translate("Add") | html %]" id="[% EnrIDSage | html %]"> </td>
											<td class="tdmep" style="text-align:center"> </td>
											</tr>
											
										</tbody>
[% RenderBlockEnd("MEPLastAdmin") %]
[% RenderBlockEnd("OtrsRow") %]
[% RenderBlockEnd("ActionSearch") %]
[% RenderBlockEnd("ActionList") %]
[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">//<![CDATA[

$('.Avanc').bootstrapSwitch();

$(document).on('change', '#SearchList', function(Event) {
	var ValueSearch = document.getElementById('Search').value;
if (this.value==5) {
		var Data = {
			Action:	'APA_AgentContractManagement',
			Subaction:    'AJAXResponsible'
		};
		Core.AJAX.FunctionCall(
			Core.Config.Get('Baselink'),
			Data,
			function (data) {
				$("#Search").remove();
				var trm = '<select id="Search" name="Search" type="text" value="0">';
				trm += '<option value="0"> - </option>';
				for (var i=0; i < data.Responsable.length; i++) {
					trm += '<option value="'+data.Responsable[i].RespIDTri+'" >'+data.Responsable[i].RespFullName+'</option>';
				}
				trm += '</select>';
				$("#SearchSelect").append(trm); 
			},
			'json'
		);
	} else {
		
		$("#Search").remove(); 
		$("#SearchSelect").append('<input type="text" id="Search" name="Search" value="'+ValueSearch+'" title="[% Translate("Search") | html %]"/>');
	}
});
							
$(document).on('change', '.updateselect', function(Event) {
	var Id = this.id.split("_");
	var Data = {
		Action:	'APA_AgentContractManagement',
		Subaction:    'AJAXUpdateSelect',
		MEPID:     Id[1],
		Champ:	Id[0],
		Value:	this.value
	};
	Core.AJAX.FunctionCall(
		Core.Config.Get('Baselink'),
		Data,
		function (data) {
			var Title = '[% Translate("Never notified") | html %]';
			var Obj = 'BNotif_'+data.MEPID;
			document.getElementById(Obj).setAttribute('title',Title);
		},
		'json'
	);
});
$(document).on('click', '.buttondel', function(Event) {
	var Id = this.id.split("_");
	$('.trmep_'+Id[1]).hide();
	var Data = {
		Action:	'APA_AgentContractManagement',
		Subaction:    'AJAXClickBoutonDel',
		Button:	Id[0],
		MEPID:     Id[1]
	};
	Core.AJAX.FunctionCall(
		Core.Config.Get('Baselink'),
		Data,
		function (data) {
		
		var progress = 'progress_'+data.EnrIDSage;
			var progressBar = document.getElementById(progress);
			$(progressBar).css("width", data.Avancement + "%").attr("aria-valuenow", data.Avancement);
			
			$(progressBar).text(data.Avancement+"%");
			progressBar.setAttribute('title', data.Avancement+'%');

			if ( data.Avancement >=100) {
			progressBar.className ="progress-bar progress-bar-striped progress-bar-success";
			}else if ( data.Avancement <=0) {
			progressBar.className ="progress-bar progress-bar-striped progress-bar-danger";
				
			} else {
			progressBar.className ="progress-bar progress-bar-striped progress-bar-warning";
			}
		},
		'json'
		);
});
$(document).on('click', '.buttonadd', function(Event) {
	
	var Data = {
		Action:	'APA_AgentContractManagement',
		Subaction:    'AJAXClickBoutonAdd',
		EnrIDSage:     this.id
	};
	Core.AJAX.FunctionCall(
		Core.Config.Get('Baselink'),
		Data,
		function (data) {
			var trm = '<tr class="trmep_'+data.InsertID+'">';
			trm += '<td class=""></td>';
			trm += '<td class="tdmep" style="text-align:center">';
			trm += '<select class="updateselect" name="MEPList" form="update" id="MEPList_'+data.InsertID+'">';
			trm += '<option value="0"> - </option>';
			for (var i=0; i < data.Tache.length; i++) {
				trm += '<option value="'+data.Tache[i].MEPName+'" >'+data.Tache[i].MEPName+'</option>';
			}

			
			trm += '</select>';
			trm += '</td>';
			trm += '<td class="tdmep" colspan="2" style="text-align:center">';
			trm += '<td class="tdmep" style="text-align:center">';
			trm += '<select class="updateselect" name="ResponsibleID" form="update" id="Responsible_'+data.InsertID+'">';
			trm += '<option value="0"> - </option>';
			for (var i=0; i < data.Responsable.length; i++) {
				trm += '<option value="'+data.Responsable[i].RespIDTri+'" >'+data.Responsable[i].RespFullName+'</option>';
			}
			trm += '</select>';
			trm += '</td>';
			trm += '<td class="tdmep" style="text-align:center"><input type="button" class="buttonnotif"  value="Notif" name="BNotif_'+data.InsertID+'" id="BNotif_'+data.InsertID+'"> <input type="button" class="buttondel" value="[% Translate("Del") | html %]" name="BDel_'+data.InsertID+'" id="BDel_'+data.InsertID+'"> </td>';								
			trm += '<td class="tdmep" style="text-align:center">';
			trm += '</td>';
			trm += '</tr>';
			$(trm).insertBefore( ".lastmep" );		
			
			$('.AvancAdd').bootstrapSwitch();
			
			
			var progress = 'progress_'+data.EnrIDSage;
			var progressBar = document.getElementById(progress);
			$(progressBar).css("width", data.Avancement + "%").attr("aria-valuenow", data.Avancement);
			
			$(progressBar).text(data.Avancement+"%");
			progressBar.setAttribute('title', data.Avancement+'%');

			if ( data.Avancement >=100) {
			progressBar.className ="progress-bar progress-bar-striped progress-bar-success";
			}else if ( data.Avancement <=0) {
			progressBar.className ="progress-bar progress-bar-striped progress-bar-danger";
				
			} else {
			progressBar.className ="progress-bar progress-bar-striped progress-bar-warning";
			}
		},
		'json'
		);
	
});
$(document).on('click', '.buttonnotif', function(Event) {
	
	var Id = this.id.split("_");
	var Data = {
		Action:	'APA_AgentContractManagement',
		Subaction:    'AJAXClickBoutonNotif',
		MEPID:     Id[1]
	};
	Core.AJAX.FunctionCall(
		Core.Config.Get('Baselink'),
		Data,
		function (data) {
			var Title = '[% Translate("Notified on") | html %] : '+data.Notif+'\n[% Translate("Notified") | html %] '+data.NbNotif+' [% Translate("time(s)") | html %]';
			var Obj = 'BNotif_'+data.MEPID;
			document.getElementById(Obj).setAttribute('title',Title);
		},
		'json'
		);
	
});
$('.Avanc').on('switchChange.bootstrapSwitch', function(Event,State) {
	var Id = this.id.split("_");
	
	
	var Data = {
		Action:	'APA_AgentContractManagement',
		Subaction:    'AJAXAvancement',
		MEPID:     Id[1],
		Value:	State
	};
	
	Core.AJAX.FunctionCall(
		Core.Config.Get('Baselink'),
		Data,
		function (data) {
		
		var progress = 'progress_'+data.EnrIDSage;
		var progressBar = document.getElementById(progress);
		$(progressBar).css("width", data.Avancement + "%").attr("aria-valuenow", data.Avancement);
		
		$(progressBar).text(data.Avancement+"%");
		progressBar.setAttribute('title', data.Avancement+'%');

		if ( data.Avancement >=100) {
		progressBar.className ="progress-bar progress-bar-striped progress-bar-success";
		}else if ( data.Avancement <=0) {
		progressBar.className ="progress-bar progress-bar-striped progress-bar-danger";
			
		} else {
		progressBar.className ="progress-bar progress-bar-striped progress-bar-warning";
		}
		
		
			},
		'json'
	);
});

$(document).on('change', '.updatedate', function(Event) {
	var Id = this.id.split("_");
	var Data = {
		Action:	'APA_AgentContractManagement',
		Subaction:    'AJAXUpdateDate',
		Date:     this.value,
		Type: Id[0],
		MEPID: Id[1],
		
	};
	Core.AJAX.FunctionCall(
		Core.Config.Get('Baselink'),
		Data,
		function (data) {		
		},
		'json'
		);
	
});


//]]></script>
[% END %]
						</tbody>
					</table>
			</div>
	</div>
</form>
</div>