# --
# Copyright (C) 2001-2017 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="MainBox ARIARoleMain">
    <h1>[% Translate("Manage Chats") | html %]</h1>
    <div class="LayoutFixedSidebar SidebarFirst">
        <div class="SidebarColumn">
            <div class="WidgetSimple">
                <div class="Header">
                    <h2>[% Translate("Hints") | html %]</h2>
                </div>
                <div class="Content">
                    <p class="FieldExplanation">
                        [% Translate('Please note: This tab will be used by any request which is related to chats. If you leave the chat manager (e.g. by using the navigation bar on top of the page), starting a new chat or other chat-related actions will possibly reload this tab any time. This means that it is recommended to leave the chat manager opened in this particular tab.') | html %]
                    </p>
                </div>
            </div>
        </div>
        <div class="ContentColumn">
            <div class="WidgetSimple">
                <div class="Header">
                    <h2>[% Translate('General Chat Requests From Customers') | html %]</h2>
                </div>
                <div class="Content">
                    <input type="hidden" value="[% Data.Msg %]" id="Msg">
                    <div class="ControlRow">
                        <input type="hidden" value="[% Data.FilterExternalChatChannels %]" id="FilterExternalChatChannels">
                        <ul class="Tabs">
                            [% IF Data.FilterExternalChatChannels == 'My' %]
                            <li class="Active ">
                            [% ELSE %]
                                <li>
                            [% END %]
                                    <a href="[% Env("CGIHandle") %]?Action=[% Env("Action") %];FilterExternalChatChannels=My" name="MyChannels" title="[% Translate("My Chat Channels") | html %]">
                                        [% Translate("My Chat Channels") | html %]
                                    </a>
                                </li>
                            [% IF Data.FilterExternalChatChannels == 'All' %]
                                <li class="Active ">
                            [% ELSE %]
                                    <li>
                            [% END %]
                                        <a href="[% Env("CGIHandle") %]?Action=[% Env("Action") %];FilterExternalChatChannels=All" name="AllChannels" title="[% Translate("All Chat Channels") | html %]">
                                            [% Translate("All Chat Channels") | html %]
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <table class="DataTable" id="RequestsToAllAgents">
                                <thead>
                                    <tr>
                                        <th>[% Translate('Created') | html %]</th>
                                        <th>[% Translate('Type') | html %]</th>
                                        <th>[% Translate('Channel') | html %]</th>
                                        <th>[% Translate('Requester') | html %]</th>
                                        <th>[% Translate('Description') | html %]</th>
                                        <th>[% Translate('Action') | html %]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="5">
                                            <span class="AJAXLoader"></span>
                                            [% Translate('Chat requests are being loaded, please stand by...') | html %]
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
[% RenderBlockStart('PublicRequests') %]
                    <div class="WidgetSimple">
                        <div class="Header">
                            <h2>[% Translate('General Chat Requests From Public Users') | html %]</h2>
                        </div>
                        <div class="Content">
                            <table class="DataTable" id="PublicRequestsToAllAgents">
                                <thead>
                                    <tr>
                                        <th>[% Translate('Created') | html %]</th>
                                        <th>[% Translate('Type') | html %]</th>
                                        <th>[% Translate('Channel') | html %]</th>
                                        <th>[% Translate('Requester') | html %]</th>
                                        <th>[% Translate('Description') | html %]</th>
                                        <th>[% Translate('Action') | html %]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="5">
                                            <span class="AJAXLoader"></span>
                                            [% Translate('Chat requests are being loaded, please stand by...') | html %]
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
[% RenderBlockEnd('PublicRequests') %]
[% RenderBlockStart('RequestsToCurrentAgent') %]
                    <div class="WidgetSimple">
                        <div class="Header">
                            <h2>[% Translate('Personal Chat Requests For You') | html %]</h2>
                        </div>
                        <div class="Content">
                            <table class="DataTable" id="RequestsToCurrentAgent">
                                <thead>
                                    <tr>
                                        <th>[% Translate('Created') | html %]</th>
                                        <th>[% Translate('Type') | html %]</th>
                                        <th>[% Translate('Channel') | html %]</th>
                                        <th>[% Translate('Requester') | html %]</th>
                                        <th>[% Translate('Description') | html %]</th>
                                        <th>[% Translate('Action') | html %]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="5">
                                            <span class="AJAXLoader"></span>
                                            [% Translate('Chat requests are being loaded, please stand by...') | html %]
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
[% RenderBlockEnd('RequestsToCurrentAgent') %]
                    <div class="WidgetSimple">
                        <div class="Header">
                            <h2>[% Translate('My Active Chats') | html %]</h2>
                        </div>
                        <div class="Content LayoutGrid ColumnsWithSpacing" id="ChatContainer"></div>
                        <input type="hidden" id="CurrentUserID" name="CurrentUserID" value="[% Env("UserID") | html %]" />
                        <div class="Size1of2 ChatContainer CanDrag" style="display:none;" id="ChatContainerTemplate">
                            <ul class="Tablelike NotResponsive">
                                <li class="Header">
                                    <span class="Direction">
                                        <i class="fa fa-square-o"></i>
                                    </span>
                                    <strong>
                                    <span class="MoreParticipants Hidden">
                                        <em></em>
                                        <span class="List"></span>
                                    </span>
                                    </strong>
                                    <strong class="RelatedTicketData Hidden">
                                        [% Config("Ticket::Hook") %]:
                                    <a href="[% Env("CGIHandle") %]?Action=AgentTicketZoom;TicketID=" target="_blank" class="TicketLink" title="[% Translate('Open ticket') | html %]"></a>
                                    </strong>
                                    <strong class="Company Hidden">
                                        [% Translate('Company') | html %]:
                                    <a href="[% Env("CGIHandle") %]?Action=AgentCustomerInformationCenter;CustomerID=" target="_blank" class="CustomerCompanyLink" title="[% Translate('Open company') | html %]"></a>
                                    <span></span>
                                    </strong>
                                    <i class="fa fa-times ChatDiscard" title="[% Translate('Discard & close this chat') | html %]">
                                        <span>[% Translate('Discard & close this chat') | html %]</span>
                                    </i>
                                    <a class="MonitorAllActivity HiddenF" href="#">
                                        <i class="fa fa-check-circle" title="[% Translate('Monitoring all activity in this chat') | html %]">
                                            <span>[% Translate('Monitoring all activity in this chat') | html %]</span>
                                        </i>
                                    </a>
                                    <a class="MonitorCustomerActivity HiddenF" href="#">
                                        <i class="fa fa-check-circle-o" title="[% Translate('Monitoring customer activity in this chat') | html %]">
                                            <span>[% Translate('Monitoring customer activity in this chat') | html %]</span>
                                        </i>
                                    </a>
                                    <a class="UnMonitorAll HiddenF" href="#">
                                        <i class="fa fa-circle-o" title="[% Translate('Not monitoring this chat') | html %]">
                                            <span>[% Translate('Not monitoring this chat') | html %]</span>
                                        </i>
                                    </a>
                                    <a class="AudioChat HiddenF" href="#">
                                        <i class="fa fa-microphone" title="[% Translate('Audio Call') | html %]">
                                            <span>[% Translate('Audio Call') | html %]</span>
                                        </i>
                                    </a>
                                    <a class="VideoChat HiddenF" href="#">
                                        <i class="fa fa-video-camera" title="[% Translate('Video Call') | html %]">
                                            <span>[% Translate('Video Call') | html %]</span>
                                        </i>
                                    </a>
                                    <a class="ExpandOptions " href="#">
                                        <i class="fa fa-caret-down" title="[% Translate('Toggle settings') | html %]">
                                            <span>[% Translate('Toggle settings') | html %]</span>
                                        </i>
                                    </a>
                                </li>
                                <li class="ChatHeader Hidden HeaderData">
                                    <ul class="Actions">
                                        <li class="LeaveChat HiddenF" title="[% Translate('Leave chat') | html %]">
                                            <a class="" href="#">
                                                [% Translate('Leave') | html %]
                                            </a>
                                        </li>
                                        <li title="[% Translate('Create a new phone ticket from this chat and close it afterwards') | html %]" class="ChatSaveLi">
                                            <a class="ChatSave" href="#" target="_blank">
                                                [% Translate('Phone ticket') | html %]
                                            </a>
                                        </li>
                                        <li title="[% Translate('Append this chat to an existing ticket and close it afterwards') | html %]" class="ChatAppendLi">
                                            <a class="ChatAppend" href="#" target="_blank">
                                                [% Translate('Append') | html %]
                                            </a>
                                        </li>
                                        <li title="[% Translate('Invite additional agent to join the chat') | html %]" class="InviteAgent HiddenF">
                                            <a class="ChatInvite" href="#">
                                                [% Translate('Invite') | html %]
                                            </a>
                                        </li>
                                        <li title="[% Translate('Change chat channel') | html %]" class="ChangeChannel HiddenF">
                                            <a class="" href="#">
                                                [% Translate('Channel change') | html %]
                                            </a>
                                        </li>
                                        <li title="[% Translate('Switch to participant') | html %]" class="ParticipantSwitch HiddenF">
                                            <a href="#">
                                                [% Translate('Participant') | html %]
                                            </a>
                                        </li>
                                        <li title="[% Translate('Switch to an observer') | html %]" class="ObserverSwitch HiddenF">
                                            <a href="#">
                                                [% Translate('Observer') | html %]
                                            </a>
                                        </li>
                                        <li title="[% Translate('Download this Chat') | html %]">
                                            <a href="#" target="print" class="ChatDownload">
                                                [% Translate('Download') | html %]
                                            </a>
                                        </li>
                                        <li title="[% Translate('Join invited chat as an observer') %]" class="ObserverJoin HiddenF">
                                            <a href="#">
                                                [% Translate("Observer") %]
                                            </a>
                                        </li>
                                        <li title="[% Translate('Join invited chat as a participant') | html %]" class="ParticipantJoin HiddenF">
                                            <a href="#">
                                                [% Translate("Participant") %]
                                            </a>
                                        </li>
                                        <li title="[% Translate('Open chat in a Popup') | html %]">
                                            <a class="ChatPopup " href="#">
                                                [% Translate('New window') | html %]
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="ChatInfo">
                                        <ul>
                                            <li class="PermissionLevel"></li>
                                            <li class="ChannelName"></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="ChatMessages">
                                    <div></div>
                                </li>
                                <li class="ChatActions">
                                    <textarea class="Message Validate_Required [% Data.MessageError | html %]" placeholder="[% Translate('New Message') | html %]... [% Translate('(Shift + Enter for new line)') | html %]"></textarea>
                                    <a href="#" id="Send"><i class="fa fa-send-o"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" class="Validate PreventMultipleSubmits" autocomplete="off">
                        <input type="hidden" name="Action" value="[% Env("Action") %]" />
                        <input type="hidden" name="Subaction" value="ChatLeave" />
                        <input type="hidden" name="ChatID" value="[% Data.ChatID | html %]" />
                        <input type="hidden" name="Message" value="[% Translate('%s has left this chat.', Data.SenderName) | html %]" />
                    </form>
                </div>
                <div class="Hidden" id="InviteAgentDialogueContainer">
                    <div class="Content">
                        <div class="InnerContent Invite">
                            <form id="InviteAgentForm" method="post" action="[% Env("CGIHandle") %]" enctype="multipart/form-data" class="PreventMultipleSubmits">
                                <input type="hidden" value="[% Env("Action") %]" name="Action">
                                <input type="hidden" value="InviteAgent" name="Subaction">
                                <input type="hidden" value="" name="ChatID" id="ChatID">
                                <fieldset class="TableLike">
                                    <label class="Mandatory">
                                        <span class="Marker">*</span>
                                        [% Translate('Online agents') | html %]:
                                    </label>
                                    <div class="Field">
                                        <select name="UserID" id="UserID">
                                        </select>
                                        <span id="AJAXLoaderReload" class="AJAXLoader Hidden"></span>
                                        <a id="ReloadOnlineAgents" class="ReloadOnlineAgents" title="[% Translate('Reload online agents') | html %]" href="#">
                                            <i class="fa fa-refresh"></i>
                                        </a>
                                    </div>
                                    <div class="Clear"></div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="Hidden" id="ChangeChannelDialogueContainer">
                    <div class="Content">
                        <div class="InnerContent ChangeChannelDialogue">
                            <form id="ChangeChannelForm" method="post" action="[% Env("CGIHandle") %]" enctype="multipart/form-data" class="PreventMultipleSubmits">
                                <input type="hidden" value="[% Env("Action") %]" name="Action">
                                <input type="hidden" value="ChangeChannel" name="Subaction">
                                <input type="hidden" value="" name="ChatID" id="ChatID">
                                <fieldset class="TableLike">
                                    <label class="Mandatory">
                                        <span class="Marker">*</span>
                                        [% Translate('Destination channel') | html %]:
                                    </label>
                                    <div class="Field">
                                        <select name="ChatChannelID" id="ChatChannelID">
                                            <option value="">-</option>
                                        </select>
                                    </div>
                                    <div class="Clear"></div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

[% WRAPPER JSOnDocumentComplete %]
<script type="text/javascript">
    Core.Config.Set('Core.Agent.Chat.AcceptButtonMessage', [% Translate('Open chat') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.UserActive', [% Translate('User is currently active.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.UserAway', [% Translate('User was inactive for a while.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.UserUnavailable', [% Translate('User set their status to unavailable.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.UserOffline', [% Translate('User is currently offline.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.UserInactive', [% Translate('User has already left the chat or has not yet joined it.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.ChatInactiveMessage', [% Translate('You are no longer in this chat. Click this message to remove the chat box.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.NoRequestsMessage', [% Translate('There are currently no chat requests.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.ChatDiscardConfirmMessage', [% Translate('This will permanently delete the chat contents. Do you want to continue?') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.ErrorChatTakenMessage', [% Translate('This chat request was already accepted by another person.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.NoPermission', [% Translate('You have no permission to accept this chat request.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.ErrorInternalErrorMessage', [% Translate('An internal error occurred.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.NoAgent', [% Translate('Please select a user.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.NoPermissionLevel', [% Translate('Please select a permission level.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.InviteAgent', [% Translate('Invite Agent.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.Invite', [% Translate('Invite') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.ChangeChannel', [% Translate('Please, select destination chat channel.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.Change', [% Translate('Change') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.NoChannel', [% Translate('Please select a channel.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.ChatPreview', [% Translate('Chat preview') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.ChannelRequired', [% Translate('Please select a valid channel.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.ChatDirection.A2C', [% Translate('Agent to customer chat.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.ChatDirection.C2A', [% Translate('Customer to agent chat.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.ChatDirection.A2A', [% Translate('Agent to agent chat.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.ChatDirection.P2A', [% Translate('Public to agent chat.') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.CustomerAlone', [% Translate("You can't leave Customer alone in the chat.") | JSON %]);
    Core.Config.Set('Core.Agent.Chat.You', [% Translate('You') | JSON %]);
    Core.Config.Set('Core.Agent.Chat.Order', "[% Config('ChatEngine::ChatOrder') | html %]");

    Core.Agent.Chat.InitChatScreen();
[% RenderBlockStart('ChatStartedError') %]
# // We need alerts here to bring the tab forward because it may have been reloaded in the background.
    window.alert([% Translate('Your chat could not be started because of an internal error.') | JSON %]);
[% RenderBlockEnd('ChatStartedError') %]
[% RenderBlockStart('ChatStartedSuccess') %]
    Core.Agent.Chat.ChatsToHighlight[[% Data.ChatID | JSON %]] = 1;
    window.alert([% Translate('Your chat request was created.') | JSON %]);
[% RenderBlockEnd('ChatStartedSuccess') %]
[% RenderBlockStart('ShowOpenRequests') %]
    window.alert([% Translate('There are currently %s open chat requests.', Data.Count) | JSON %]);
[% RenderBlockEnd('ShowOpenRequests') %]
    // Display message (if exists)
    var msg = $("#Msg").val();
    if (msg == 'AlreadyInvited') {
        window.alert([% Translate('User was already invited to your chat!') | JSON %]);
    }
    else if (msg == 'NoPermission') {
        window.alert([% Translate('Insufficient permissions.') | JSON %]);
    }

    $('#GraphWidgetLink[% Data.Name | html %]').find('a.TriggerTooltip').on('click', function(){
        $(this).next('span').toggleClass('Hidden');
        return false;
    });

    Core.UI.DnD.Sortable(
        $('#ChatContainer'),
        {
            Handle: '.Header',
            Items: '.CanDrag',
            Placeholder: 'ChatDropPlaceholder Size1of2 ChatContainer',
            Tolerance: 'pointer',
            Distance: 1,
            Opacity: 0.6,
            Helper: "clone",
            Update: function () {
                var ChatOrder = [];
                $('#ChatContainer .CanDrag').each(
                    function () {
                        ChatOrder.push($(this).attr('id').substring(4));
                    }
                );

                var Data = {
                    Action: Core.Config.Get('Action'),
                    Subaction: 'UpdateChatOrder',
                    ChatID: ChatOrder
                };
                Core.AJAX.FunctionCall(
                    Core.Config.Get('CGIHandle'),
                    Data,
                    function (data) {
                        if (data != 1) {
                            window.alert([% Translate('System was unable to save your sequence of chats.') | JSON %]);
                        }
                    }
                );
            }
        }
    );
</script>
[% END %]
