# --
# Copyright (C) 2001-2017 OTRS AG, http://otrs.com/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="MainBox ARIARoleMain LayoutFixedSidebar SidebarLast">
    <h1>[% Translate("Search") | html %] [% Translate("Config Item") | html %]:</h1>
    <div class="ContentColumn">
[% InsertTemplate("AgentITSMCustomerSearch.tt") %]
        <form action="[% Env("CGIHandle") %]" method="post" enctype="multipart/form-data" name="SearchForm" class="Validate PreventMultipleSubmits" id="SearchForm">

            <div class="Content">
                <input type="hidden" name="Action" value="[% Env("Action") %]"/>
                <input type="hidden" name="Subaction" value="Search"/>
                <input type="hidden" name="SearchDialog" value="1">
                <input type="hidden" name="FormID" value="[% Data.FormID | html %]"/>
                <fieldset class="TableLike">

                    <label for="ClassIDs" id="LabelClassIDs">[% Translate("Class") | html %]:</label>
                    <div class="Field">
                        [% Data.ClassOptionStrg %]
                    </div>
                    <div class="Clear"></div>

                    <label for="DeplStateIDs" id="LabelDeplStateIDs">[% Translate("Deployment State") | html %]:</label>
                    <div class="Field">
                        [% Data.CurDeplStateOptionStrg %]
                    </div>
                    <div class="Clear"></div>

                    <label for="InciStateIDs" id="LabelInciStateIDs">[% Translate("Incident State") | html %]:</label>
                    <div class="Field">
                        [% Data.CurInciStateOptionStrg %]
                    </div>
                    <div class="Clear"></div>

                    <label for="Name" id="LabelName">[% Translate("Name") | html %]:</label>
                    <div class="Field">
                        <input type="text" name="Name" id="Name" maxlength="250" value="[% Data.Name | html %]" title="[% Translate("The name of this config item") | html %]"/>
                    </div>
                    <div class="Clear"></div>

[% RenderBlockStart("AttributeRow") %]
                    <label for="[% Translate(Data.Key) | html %]" id="Label[% Data.Key %]" title="[% Translate(Data.Description) | html %]">[% Translate(Data.Name) | html %]:</label>
                    <div class="Field">
                        [% Data.InputString %]
                    </div>
                    <div class="Clear"></div>
[% RenderBlockEnd("AttributeRow") %]

                    <label for="ResultForm">[% Translate("Output") | html %]:</label>
                    <div class="Field">
                        [% Data.ResultFormStrg %]
                    </div>
                    <div class="Clear"></div>

                </fieldset>

                <fieldset class="TableLike">
                    <div class="Field SpacingTop">
                        <button name="Search" class="Primary" type="submit" value="[% Translate("Search") | html %]">[% Translate("Search") | html %]</button>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
    <div class="Clear"></div>
</div>
